/*----------------------------------------------------------------------------------*/
/*--------------------------> Static pages general styles <-------------------------*/
/*----------------------------------------------------------------------------------*/
.static .nav {
    position: absolute;
    background: url(../images/static_nav_bg.png);
}
.static .textures {
    z-index: auto;
    background: none;
}
.static .textures img {
    width: 100%;
    height: 100%;
}
.static.page {
    padding: 0;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------------> Home page <-----------------------------------*/
/*----------------------------------------------------------------------------------*/
.static.page-home {
    background: #D5F7FE;
}
.static.page-home .page-content {
    padding: 100px 0 0;
}
.static.page-home .sun-decoration {
    background: url(../images/sprite_decorations.png) 0 -700px no-repeat;
    height: 250px;
    top: -25px;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------------> About page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.static.page-about {
    background: #A1CEE7;
}
.static.page-about .rain {
    opacity: 1;
}
.static.page-about .rain-clouds {
    left: 50%;
}
.static.page-about .page-content {
    padding: 245px 0 50px;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/