/*----------------------------------------------------------------------------------*/
/*--------------------------> Static pages general styles <-------------------------*/
/*----------------------------------------------------------------------------------*/
.static .nav {
    position: absolute;
    background: url(../images/static_nav_bg.png);
}
.static .textures {
    z-index: auto;
    background: none;
    position: absolute;
}
.static .textures img {
    width: 100%;
    height: 100%;
}
.static.page {
    padding: 0;
}
.static.page .decor {
    opacity: 1;
}


.nav-block .menu {
    display: none;
}

    
/*----------------------------------------------------------------------------------*/
/*----------------------------------> Home page <-----------------------------------*/
/*----------------------------------------------------------------------------------*/
.static.page-home {
    background: #D5F7FE;
}
.static.page-home .mobile-logo {
    display: none;
}
.static.page-home .page-content {
    padding: 100px 0 0;
}
.static.page-home .sun-decoration {
    background: url(../images/sprite_decorations.png) 0 -700px no-repeat;
    height: 250px;
    top: -25px;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------------> About page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.static.page-about {
    background: #A1CEE7;
}
.static.page-about .rain-clouds {
    left: 50%;
}
.static.page-about .page-content {
    padding: 360px 0 95px;
}
.static.page-about .wave {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: url(../images/wave_small.png);
}
.static.page-about .wave.second {
    background: url(../images/wave_small.png) 30px 0;
}


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Clients page <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.static.page-clients {
    background: #5D7FB6;
}
.static.page-clients .submarine {
    top: -75px;
    margin-top: 0;
}
.static.page-clients .page-content.relative .submarine {
    top: 75px;
}
.static.page-clients .page-content {
    padding: 150px 0 0;
}
.static.page-clients h2 {
    position: relative;
    padding-bottom: 75px;
}

.static.page-clients .clients-list li {
    float: left;
}
.static.page-clients .clients-list li span {
    display: block;
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> Portfolio page <--------------------------------*/
/*----------------------------------------------------------------------------------*/
.static.page-portfolio {
    background: #233257;
}
.static.page-portfolio .page-content {
    padding: 112px 0 0;
}

.static.page-portfolio .moon {
    display: block;
    width: 146px;
    height: 178px;
    margin: 0;
    
    position: absolute;
    right: 10px;
    left: auto;
    top: -20px;
    background: url(../images/sprite_decorations.png) -1500px 0 no-repeat;
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> Contacts page <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.static.page-contacts {
    background: #131435;
}
.static.page-contacts .page-content {
    padding: 215px 0 0;
}
.static.page-contacts .page-content .holder-wrap {
    position: relative;
}

/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Make page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.static.page-make {
    background: #96CAF1;
}
.static.page-make .page-content {
    padding: 250px 0 200px;
}
.static.page-make .sun-decoration {
    max-width: 1316px;
    width: 100%;
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------> Mobile devices <---------------------------------*/
/*----------------------------------------------------------------------------------*/

/* Default wide-screen styles */

@media all and (max-width: 1024px) {
    /* styles for narrow desktop browsers and iPad landscape */
    
    .wrapper {
        width: 100%;
    }
    html, body {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .page {
        min-width: 100%;
        max-width: 1024px;
        width: auto;
    }
    
    .static.page-clients .clients-list img {
        max-width: 100%;
    }
    .static .portfolio-nav a .pointer {
        display: none !important;
    }
    
}

@media all and (max-width: 768px) {
    /* styles for narrower desktop browsers and iPad portrait */
    
    .static.page-clients .clients-list {
        width: 660px;
    }
    .static.page-clients .clients-list li {
        width: 200px;
    }
    
    .portfolio-list {
        width: 768px;
    }
    .portfolio-list li {
        margin-left: 61px;
    }
    
    .lightbox {
        width: 768px;
        margin-left: -384px;
    }
    .lightbox iframe {
        width: 768px;
    }
}

@media all and (max-width: 480px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    
    .static.page-home .sun-decoration {
        background: url(../images/sprite_decorations.png) -1500px -1350px no-repeat;
        width: 380px;
        height: 92px;
        top: 0;
        margin: 0 0 0 -190px;
    }
    .static.page-home .page-content {
        padding-top: 40px;
    }
    .static.page-home .logo {
        width: 200px;
        height: 81px;
    }
    .static.page-home .mobile-logo {
        display: inline;
    }
    .static.page-home .desktop-logo {
        display: none;
    }
    
    .static.page-about .page-content {
        padding: 160px 0 55px;
    }
    .static.page-about .umbrella {
        width: 480px;
        height: 114px;
        margin: 0 0 0 -240px;
        top: -114px;
        background: url(../images/sprite_decorations.png) -800px -250px no-repeat;
    }
    .static.page-about .rain-clouds {
        display: none;
    }
    
    .static.page-clients .page-content {
        padding-top: 80px;
    }
    .static.page-clients .page-content.relative .submarine {
        width: 320px;
        height: 50px;
        top: 25px;
        margin: 0 0 0 -160px;
        background: url(../images/sprite_decorations.png) -1500px -1450px no-repeat;
    }
    .static.page-clients h2 {
        padding-bottom: 5px;
    }
    .static.page-clients .clients-list {
        width: 480px;
    }
    .static.page-clients .clients-list li {
        width: 220px;
        height: 80px;
    }
    .static.page-clients .clients-list li img {
        max-height: 80px;
    }
    
    .static.page-portfolio .page-content {
        padding: 40px 0 0;
    }
    .static.page-portfolio h2 span {
        display: block;
    }
    .static.page-portfolio .moon {
        display: none;
    }
    
    .static.page-contacts .page-content {
        padding: 50px 0;
    }
    .static.page-contacts .snow-hat {
        width: 324px;
        height: 19px;
        left: -7px;
        top: -10px;
        background: url(../images/sprite_decorations.png) -700px -50px no-repeat;
    }
    .static.page-contacts .hanging-board {
        width: 310px;
        border-width: 2px;
    }
    .static.page-contacts .board-textures {
        background-repeat: repeat-y;
        background-position: 0 -20px;
    }
    .static.page-contacts .divider {
        float: right;
        display: none;
    }
    
    .static.page-contacts .media-list {
        padding: 0;
        float: none;
        position: absolute;
        left: 20px;
        bottom: 50px;
    }
    .static.page-contacts .media-list li {
        float: left;
        margin: 0 23px 0 0;
    }
    .static.page-contacts .media-list a {
        width: 37px;
        text-indent: 1000px;
        overflow: hidden;
    }
    .static.page-contacts .contacts-list {
        float: none;
        padding: 42px 0 65px 10px;
    }
    .static.page-contacts .contacts-list .title {
        text-align: center;
    }
    .static.page-contacts .contacts-list li.with-icon {
        padding-left: 50px;
    }
    .static.page-contacts .hint-block {
        text-align: left;
        padding-left: 30px;
    }
    .static.page-contacts .hint-block .icon {
        left: -25px;
    }
    
    
    .static.page-make .page-content {
        padding: 110px 0 50px;
    }
    .static.page-make h2 {
        top: -50px;
        font-size: 18px;
    }
    .static.page-make h2 .icon {
        display: none;
    }
    .static.page-make .snow-hat {
        width: 318px;
        height: 22px;
        top: -14px;
        left: -12px;
        background: url(../images/sprite_decorations.png) -1100px -50px no-repeat;
    }
    .static.page-make .board-textures {
        background: url(../images/mobile_bigboard_textures_second.png);
    }
    .static.page-make .standing-board {
        width: 290px;
    }
    .static.page-make .form-list textarea {
        width: 211px;
        height: 65px;
    }
    .static.page-make .btn {
        width: 222px;
    }
    .static.page-make .btn .btn-snow-hat {
        width: 226px;
        top: -10px;
        background: url(../images/sprite_decorations.png) -1250px 0 no-repeat;
    }
    .static.page-make .snowman {
        display: none;
    }
    .static.page-make .left-sun {
        background: url(../images/sprite_decorations.png) -1500px -1350px no-repeat;
        width: 380px;
        height: 92px;
        top: 0;
        margin: 0 0 0 -190px;
    }
    .static.page-make .left-sun span, .static.page-make .right-sun {
        display: none;
    }
    
    .static .nav-block {
        position: relative;
    }
    .static .nav {
        display: none;
    }
    .static .nav-block .menu, .static .nav {
        background: #29ABE2;
    }
    .static .nav li, .static .nav-block .menu {
        text-shadow: 0 1px 0 #1B6F93;
    }
    .static .nav-block .menu {
        display: block;
        position: absolute;
        right: 0;
        width: 70px;
        height: 20px;
        padding: 8px 0;
        bottom: -36px;
        text-align: center;
        
        -webkit-border-radius: 0 0 0 5px;
        -moz-border-radius: 0 0 0 5px;
        border-radius: 0 0 0 5px;
    }
    .static .nav, .static .nav a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .static .nav {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
    }
    .static .nav li {
        float: none;
        margin: 0;
        border-bottom: 1px solid #2392C0;
    }
    .static .nav .active a {
        background: #259ACB;
    }
    .static .nav a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .static .video-block {
        width: 480px;
        height: auto;
    }
    .static .video-block img {
        width: 100%;
    }
    
    .static.page-home .media-block {
        width: 480px;
        padding-bottom: 40px;
    }
    .static .ground-snow {
        bottom: -1px;
    }
    
    
    .portfolio-list {
        width: 480px;
    }
    .portfolio-list li {
        margin-left: 94px;
    }
    
    .lightbox {
        margin: -120px 0 0 -160px;
    }
    .lightbox, .lightbox iframe {
        width: 320px;
        height: 240px;
    }
}

@media all and (max-width: 320px) {
    /* styles for iPhone/Android portrait */
    
    .static .video-block {
        width: 320px;
        height: auto;
    }
    
    .static.page-clients .clients-list {
        width: 320px;
    }
    .static.page-clients .clients-list li {
        width: 140px;
    }
    
    .static.page-home .media-block {
        width: 320px;
    }
    
    .portfolio-list {
        width: 320px;
    }
    .portfolio-list li {
        margin-left: 14px;
    }

}

@media all and (max-width: 240px) {
    /* styles for smaller devices */
}


/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/