/*----------------------------------------------------------------------------------*/
/*-----------------------------> RESET DEFAULT STYLES <-----------------------------*/
/*----------------------------------------------------------------------------------*/
html		                        { width:100%; height:100%; }
body                            { padding:0; margin:0; font: 14px OpenSans, Arial, Verdana, Helvetica, sans-serif;
    background: #FFF; color:#000; height: 100%; min-width: 1200px; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
select, input, textarea        { font-size: 13px; vertical-align:middle; }
textarea                       { vertical-align:top; }
a:focus                         { outline:none; }
a::-moz-focus-inner             { border:0; }
input[type=submit]             { cursor:pointer; }
input[type="password"]				 {  }
input[type="checkbox"]				 { vertical-align: baseline !important; margin-top: 2px !important; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { color:#0085D2; text-decoration:none; }
a:hover                        { text-decoration:underline; }
button                         { color: #fff; padding: 0; border: 0; }


select, input, textarea, input[type="password"], button {
    font-family: OpenSans, Arial, Verdana, Helvetica, sans-serif;
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> Default classes <-------------------------------*/
/*----------------------------------------------------------------------------------*/
.no-display {
    display: none !important;
}
.relative {
    position: relative;
}
.show-on-top {
    z-index: 2;
}
.show-on-top-3 {
    z-index: 3;
}
.clear {
    clear: both;
}


::-moz-placeholder {
    color: #7E97CB;
    font-style: italic;
} 
:-moz-placeholder {
    color: #7E97CB;
    font-style: italic;
} 
:-ms-input-placeholder {
    color: #7E97CB;
    font-style: italic;
}
::-webkit-input-placeholder {
    color: #7E97CB;
    font-style: italic;
}



.scale {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------> Custom fonts <--------------------------------*/
/*----------------------------------------------------------------------------------*/

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: 900;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 300;
    font-style: normal;

}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> Top navigation <--------------------------------*/
/*----------------------------------------------------------------------------------*/
.nav, .nav-block {
    z-index: 100;
}
.nav {
    margin: 0 0 0 -312px;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 37px;
    background: rgba(0,0,0, 0.1);
}
.nav li {
    float: left;
    margin: 0 0 0 15px;
}
.nav li:first-child {
    margin: 0;
}
.nav a, .nav-block .menu {
    color: #FFF;
    padding: 2px 10px;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
.nav .active a, .nav a:hover {
    color: #FFF;
    background: #29ABE2;
}
.nav, .nav .active a, .nav a:hover {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------------> First page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.anchor {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
}

.textures {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg_textures.png) no-repeat;
    
    z-index: 1;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}



.section-first {
    background: #D5F7FE;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.decor {
    position: absolute;
    display: block;
    left: 50%;
}


.page {
    min-width: 1200px;
    width: 100%;
}
.page-home {
    position: relative;
    padding: 100px 0 0;
}
.page-home .logo {
    display: block;
    width: 320px;
    height: 131px;
    margin: 0 auto;
}


.page-home .video-block, .page-about .video-block {
    width: 625px;
    height: 350px;
    margin: 0 auto;
    position: relative;

    -webkit-box-shadow: 6px 6px 2px 0 #9F9F9F;
    -moz-box-shadow: 6px 6px 2px 0 #9F9F9F;
    box-shadow: 6px 6px 2px 0 #9F9F9F;
}
.page-home .video-block {
    margin-top: 34px;
}
.page-home .video-block .video-hint {
    width: 257px;
    height: 257px;
    left: auto;
    top: 47px;
    right: -286px;
    background: url(../images/sprite_decorations.png) -1700px -300px no-repeat;
}
.page-about .video-block .video-hint {
    width: 257px;
    height: 257px;
    left: -283px;
    top: 8px;
    background: url(../images/sprite_decorations.png) -1700px 0 no-repeat;
}

.page-home .media-block {
    overflow: hidden;
    /*
    width: 365px;
    padding: 46px 0 140px 260px;
    */
    width: 625px;
    text-align: center;
    padding: 46px 0 140px;
    margin: 0 auto;
}
.page-home .media-block li {
    display: inline-block;
    margin: 0 9px;
}
.page-home .media-block a {
    display: block;
    height: 20px;
}
.page-home .media-block .vm {
    width: 23px;
    background: url(../images/sprite_icons.png) -50px -100px no-repeat;
}
.page-home .media-block .tw {
    width: 24px;
    background: url(../images/sprite_icons.png) -50px -150px no-repeat;
}
.page-home .media-block .fb {
    width: 11px;
    background: url(../images/sprite_icons.png) -50px -200px no-repeat;
}


.page-home .sun-decoration {
    width: 1332px;
    height: 0;
    top: 0;
    margin: 0 0 0 -666px;
    
    -webkit-transition-timing-function: linear;
    -webkit-transition-property: left;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0;
    
    -moz-transition-timing-function: linear;
    -moz-transition-property: left;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0;
    
    /*
    background: url(../images/sun_decoration_top.png) no-repeat;
    */
}
.page-home .sun-decoration.left {
    left: 0;
}
.page-home .sun-decoration.right {
    left: 100%;
}

.page-home .sun {
    width: 260px;
    height: 250px;
    margin: 0 0 0 -648px;
    top: -25px;
    background: url(../images/sprite_decorations.png) -1500px -1050px no-repeat;
}

.page-home .cloud {
    width: 197px;
    height: 106px;
    left: 50%;
    background: url(../images/sprite_decorations.png) -932px -1461px no-repeat;
}
.page-home .cloud.one {
    margin: 0 0 0 -397px;
    top: 62px;
}
.page-home .cloud.two {
    margin: 0 0 0 282px;
    top: 53px;
}
.page-home .cloud.three {
    margin: 0 0 0 460px;
    top: 10px;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------------> Video page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.page-about {
    padding: 245px 0 50px;
    position: relative;
}
.page-about .rain {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/rain.png) center 120px;
    opacity: 0;
}
.page-about .umbrella {
    width: 682px;
    height: 160px;
    top: -160px;
    margin: 0 0 0 -341px;
    background: url(../images/sprite_decorations.png) 0 -250px no-repeat;
}

.page-about .rain-clouds {
    width: 1440px;
    height: 143px;
    margin: 0 0 0 -720px;
    left: 200%;
    top: -12px;
}
.page-about .rain-clouds.rain-clouds-right {
    background: url(../images/sprite_decorations.png) 0 -1100px no-repeat;
}
.page-about .rain-clouds.rain-clouds-left {
    background: url(../images/sprite_decorations.png) 0 -950px no-repeat;
}


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Clients page <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.section-second {
    background-color: #5D7FB6;
}
.page-clients {
    padding: 150px 0 0;
    position: relative;
}

.page-clients .wave {
    display: block;
    position: absolute;
    left: 0;
    top: -35px;
    width: 100%;
    height: 50px;
    background: url(../images/wave.png) repeat-x;
}
.page-clients .wave.second {
    background-position: 30px 0;
}
.submarine {
    display: block;
    width: 980px;
    height: 146px;
    top: 75px;
    margin: 0 0 0 -490px;
    background: url(../images/sprite_decorations.png) 0 -100px no-repeat;
}
.page-clients .mine-left {
    bottom: 0;
    margin: 0 0 0 -588px;
    width: 83px;
    height: 478px;
    background: url(../images/sprite_decorations.png) -1500px -200px no-repeat;
}
.page-clients .mine-right {
    bottom: 0;
    margin: 0 0 0 513px;
    width: 40px;
    height: 497px;
    background: url(../images/sprite_decorations.png) -1600px -200px no-repeat;
}


.page-clients h2 {
    padding: 0 0 75px;
}
.page-portfolio h2 {
    padding: 0 0 15px;
}
.page-clients h2, .page-portfolio h2 {
    text-shadow: 2px 3px #3E5E99;
    color: #FFF;
    text-align: center;
    
    font-size: 20px;
    font-weight: 900;
    font-style: italic;    
}

.clients-list {
    overflow: hidden;
    width: 880px;
    margin: 0 auto;
}
.clients-list td, .clients-list li {
    width: 200px;
    height: 120px;
    float: left;
    padding: 0 10px 15px;
    text-align: center;
    vertical-align: middle;
}
.clients-list li > span {
    display: block;
}
.clients-list a {
    opacity: 1;
}
.clients-list a:hover {
    opacity: 0.5;
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> Portfolio page <--------------------------------*/
/*----------------------------------------------------------------------------------*/
.page-portfolio {
    position: relative;
    padding: 120px 0 0;
}

.portfolio-nav {
    text-align: center;
    padding: 12px 0 0;
}
.portfolio-nav li {
    display: inline-block;
    padding: 0 9px 15px;
}
.portfolio-nav a {
    display: block;
    position: relative;
    font-weight: bold;
    padding: 2px 15px;
    color: #9094A2;
    text-decoration: none;
    background: rgba(255,255,255, 0.05);
    
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.portfolio-nav a:hover, .portfolio-nav .ui-state-active a {
    background: rgba(255,255,255, 0.15);
    color: #FFF;
}

.portfolio-nav a .pointer {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin: 0 0 0 -6px;
    width: 0;
    height: 0;
    border-width: 6px 6px 0;
    border-style: solid;
    border-color: #FFF transparent transparent;
    opacity: 0.15;
}
.portfolio-nav .ui-state-hover a .pointer, .portfolio-nav .ui-state-active a .pointer {
    display: block;
}


.portfolio-list {
    overflow: hidden;
    width: 1024px;
    min-height: 476px;
    margin: 0 auto;
    padding: 19px 0 0;
}
.portfolio-list li {
    float: left;
    margin: 0 0 34px 37px;
    width: 292px;
}

.portfolio-list .video {
    display: block;
    
    -webkit-box-shadow: 8px 8px 10px 0 rgba(0,0,0, 0.25);
    -moz-box-shadow: 8px 8px 10px 0 rgba(0,0,0, 0.25);
    box-shadow: 8px 8px 10px 0 rgba(0,0,0, 0.25);
}
.portfolio-list .video-title {
    text-align: center;
    padding: 22px 0 0;
}
.portfolio-list .video-title a {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
.portfolio-list .video-title a:hover {
    color: #7E97CB;
}

.page-portfolio .night-clouds, .page-contacts .night-clouds {
    top: 22px;
    width: 1416px;
    height: 104px;
    margin: 0 0 0 -708px;
    background: url(../images/sprite_decorations.png) 0 -1250px no-repeat;
    opacity: 0;
}
.page-portfolio .stars, .page-contacts .stars {
    top: 0;
    width: 1200px;
    height: 172px;
    margin: 0 0 0 -600px;
    background: url(../images/stars.png) no-repeat;
    opacity: 0;
}
.page-portfolio .moon {
    top: -14px;
    width: 100%;
    height: 178px;
    margin: 0 0 0 -50%;
    opacity: 0;
}
.page-portfolio .moon .icon {
    display: block;
    width: 146px;
    height: 178px;
    position: absolute;
    left: -292px;
    top: 0;
    background: url(../images/sprite_decorations.png) -1500px 0 no-repeat;
}


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Contacts page <--------------------------------*/
/*----------------------------------------------------------------------------------*/
.page-contacts {
    position: relative;
    padding: 165px 0 0;
}
.page-contacts .hanging-board {
    width: 570px;
    border: 3px solid #FFF;
    margin: 0 auto;
    position: relative;

    background-color: #4467A7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4467A7), to(#3D5B98));
    background-image: -webkit-linear-gradient(top, #4467A7, #3D5B98);
    background-image: -moz-linear-gradient(top, #4467A7, #3D5B98);
    background-image: -ms-linear-gradient(top, #4467A7, #3D5B98);
    background-image: -o-linear-gradient(top, #4467A7, #3D5B98);
    background-image: linear-gradient(top, #4467A7, #3D5B98);
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0, 0.75);
    -moz-box-shadow: 2px 2px 2px 0 rgba(0,0,0, 0.75);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0, 0.75);
}

.page-contacts .media-list {
    padding: 17px 25px 0 38px;
    float: left;
}
.page-contacts .media-list li {
    padding: 10px 0 8px;
}

.page-contacts .media-list a {
    display: block;
    position: relative;
    width: 174px;
    height: 26px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 7px 0 7px 10px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.page-contacts .media-list a .icon {
    display: block;
    position: absolute;
    left: 10px;
    top: 0px;
    width: 31px;
    height: 40px;
}

.page-contacts .media-list .blog {
    background: #1EA3DB;
    border-color: #105F81;
}
.page-contacts .media-list .fb {
    background: #4467B0;
    border-color: #2E4678;
}
.page-contacts .media-list .tw {
    background: #00ACED;
    border-color: #005677;
}
.page-contacts .media-list .vimeo {
    background: #40647B;
    border-color: #263C4A;
}

.page-contacts .media-list .blog .icon {
    background: url(../images/sprite_icons.png) 0 0 no-repeat;
}
.page-contacts .media-list .fb .icon {
    background: url(../images/sprite_icons.png) 0 -44px no-repeat;
}
.page-contacts .media-list .tw .icon {
    background: url(../images/sprite_icons.png) 0 -92px no-repeat;
}
.page-contacts .media-list .vimeo .icon {
    background: url(../images/sprite_icons.png) 0 -141px no-repeat;
}

.page-contacts .board-textures {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/bigboard_textures.png) no-repeat;
}
.page-contacts .snow-hat {
    display: block;
    position: absolute;
    width: 594px;
    height: 35px;
    left: -12px;
    top: -19px;
    background: url(../images/sprite_decorations.png) 0 0 no-repeat;
}

.page-contacts .divider {
    display: block;
    float: left;
    width: 1px;
    height: 210px;
    margin: 35px 0 0;
    border-left: 1px solid #49649C;
    
    background-color: #5675AE;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5675AE), to(#516DA3));
    background-image: -webkit-linear-gradient(top, #5675AE, #516DA3);
    background-image: -moz-linear-gradient(top, #5675AE, #516DA3);
    background-image: -ms-linear-gradient(top, #5675AE, #516DA3);
    background-image: -o-linear-gradient(top, #5675AE, #516DA3);
    background-image: linear-gradient(top, #5675AE, #516DA3);
}

.page-contacts .contacts-list {
    padding: 42px 0 0 22px;
    float: left;
}
.page-contacts .contacts-list span, .page-contacts .contacts-list a {
    color: #FFF;
    text-shadow: 0 -2px rgba(0,0,0, 0.3);
    font-size: 18px;
    font-family: OpenSansSemibold;
}
.page-contacts .contacts-list li {
    padding: 0 0 36px;
    position: relative;
}
.page-contacts .contacts-list li.with-icon {
    padding: 0 0 32px 58px;
}
.page-contacts .contacts-list .icon {
    display: block;
    position: absolute;
    left: 9px;
    top: 0;
    width: 32px;
    height: 30px;
}
.page-contacts .contacts-list .skype .icon {
    background: url(../images/sprite_icons.png) -50px 0 no-repeat;
}
.page-contacts .contacts-list .mail .icon {
    background: url(../images/sprite_icons.png) -50px -50px no-repeat;
}


.page-contacts .hint-block {
    color: #E5EAF2;
    background: #5371A8;
    font-size: 16px;
    font-weight: bold;
    border-top: 3px solid #E2E7F0;
    text-align: center;
    padding: 3px 0 0;
    height: 27px;
}
.page-contacts .hint {
    position: relative;
}
.page-contacts .hint-block .icon {
    display: block;
    position: absolute;
    left: -31px;
    top: 50%;
    width: 20px;
    height: 18px;
    margin: -9px 11px 0 0;
    background: url(../images/sprite_icons.png) 0 -200px no-repeat;
}
.page-contacts .board-holder {
    display: block;
    width: 50%;
    height: 222px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -111px 0 0;
    background: url(../images/bigboard_holder.png) repeat-x;
}
.page-contacts .board-holder .base {
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    width: 14px;
    height: 264px;
    background: url(../images/sprite_decorations.png) -1500px -750px no-repeat;
}
.page-contacts .trees, .page-make .trees {
    width: 100%;
    bottom: 0;
    margin: 0 0 0 -50%;
}
.page-contacts .trees img, .page-make .trees img {
    width: 100%;
}
.page-contacts .snowflakes, .page-make .snowflakes {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: url(../images/snowflakes.png) center 90px;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------> Make me a video page <------------------------------*/
/*----------------------------------------------------------------------------------*/
.page-make {
    position: relative;
    padding: 180px 0 0;
}
.page-make .standing-board {
    position: relative;
    width: 540px;
    margin: 0 auto;
    background: #F9F9F9;
    border: 8px solid #FFF;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: 0px 0px 30px 0 rgba(0,0,0, 0.15);
    -moz-box-shadow: 0px 0px 30px 0 rgba(0,0,0, 0.15);
    box-shadow: 0px 0px 30px 0 rgba(0,0,0, 0.15);
}


.page-make .board-textures {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/bigboard_textures_second.png) no-repeat;
}
.page-make .snow-hat {
    display: block;
    position: absolute;
    width: 570px;
    height: 40px;
    left: -15px;
    top: -24px;
    background: url(../images/sprite_decorations.png) 0 -50px no-repeat;
}

.page-make .board-holder {
    display: block;
    width: 88px;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 0 0 -44px;
    background: url(../images/bigboard_holder_second_sliced.png) repeat-y;
}
.page-make .snowman {
    display: block;
    width: 91px;
    height: 159px;
    position: absolute;
    left: 50%;
    bottom: 3px;
    margin: 0 0 0 20px;
    background: url(../images/sprite_decorations.png) -1600px -750px no-repeat;
}



.page-make h2 {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
    color: #FFF;
    text-shadow: 2px 2px 0 #A3C8EB;
}
.page-make .caption {
    position: relative;
}
.page-make .caption .icon {
    display: block;
    position: absolute;
    top: 16px;
    width: 14px;
    height: 14px;
    background: url(../images/sprite_icons.png) -100px 0 no-repeat;
}
.page-make .caption .icon-left {
    left: -26px;
}
.page-make .caption .icon-right {
    right: -22px;
}

.page-make .form-list {
    padding: 41px 34px 38px;
}
.page-make .form-list .text-block {
    margin: 0 0 22px;
    position: relative;
    
    border-width: 1px;
    border-style: solid;
    border-color: #CDCDCD #E4E4E4 #E4E4E4;
    background: #FFF;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    -webkit-box-shadow: 0px 1px 0px 0 #FFF;
    -moz-box-shadow: 0px 1px 0px 0 #FFF;
    box-shadow: 0px 1px 0px 0 #FFF;  
}
.page-make .form-list .input {
    float: left;
    padding: 8px 10px 5px;
}
.page-make .form-list input {
    width: 200px;
}
.page-make .form-list .input:first-child {
    margin-right: 28px;
}

.page-make .form-list .textarea {
    padding: 10px 0 5px 10px;
    clear: both;
}
.page-make .form-list textarea {
    width: 460px;
    height: 130px;
    resize: none;
    overflow-y: scroll;
}

.page-make .form-list .text-block input, .page-make .form-list .text-block textarea {
    border: 0;
    background: transparent;
    color: #7E97CB;
    font-size: 16px;
}


.page-make .btn {
    position: relative;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: #FFF;
    text-shadow: 2px 2px 0 #1E85B0;
    border-bottom: 4px solid #1781AE;
    width: 468px;
    height: 36px;
    margin: 0 auto;
    text-transform: uppercase;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    background-color: #34ACDF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34ACDF), to(#1FA3DB));
    background-image: -webkit-linear-gradient(top, #34ACDF, #1FA3DB);
    background-image: -moz-linear-gradient(top, #34ACDF, #1FA3DB);
    background-image: -ms-linear-gradient(top, #34ACDF, #1FA3DB);
    background-image: -o-linear-gradient(top, #34ACDF, #1FA3DB);
    background-image: linear-gradient(top, #34ACDF, #1FA3DB);
}
.page-make .btn .btn-snow-hat {
    display: block;
    position: absolute;
    top: -13px;
    left: -2px;
    width: 472px;
    height: 28px;
    background: url(../images/sprite_decorations.png) -700px 0 no-repeat;
}


.page-make .sun-decoration {
    width: 1316px;
    height: 227px;
    height: 0px;
    top: 0;
    margin: 0 0 0 -658px;
}
.page-make .left-sun .sun {
    width: 261px;
    height: 227px;
    left: 0;
    top: 0;
    background: url(../images/sprite_decorations.png) 0 -1400px no-repeat;
}


.page-make .sun-decoration .cloud {
    width: 197px;
    height: 106px;
    background: url(../images/sprite_decorations.png) -932px -1461px no-repeat;
}
.page-make .sun-decoration .cloud-middle {
    left: 932px;
    top: 61px;
}
.page-make .sun-decoration .cloud-left {
    left: 243px;
    top: 31px;
}
.page-make .sun-decoration .cloud-right {
    left: 1110px;
    top: 18px;
}


.page-make .ground-snow {
    width: 100%;
    /*
    height: 45px;
    background: url(../images/ground_snow_cover.png) no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
    */
    left: 0;
    bottom: 0;
}
.page-make .ground-snow img {
    width: 100%;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/lightbox_overlay.png);
    z-index: 9999;
}
.lightbox {
    display: none;
    width: 960px;
    height: 534px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -267px 0 0 -480px;
    z-index: 10000;
    background: #F9F9F9;
    
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.lightbox .close {
    display: block;
    position: absolute;
    right: 0;
    top: -22px;
    color: #999;
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/